<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="../deps/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="styles/main.css">
        <script src="scripts/vendor/require.js" data-main="scripts/index" defer async="true" ></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div ms-controller="list">
            <span ms-mouseover="changeUl(1)">公告</span>
            <span ms-mouseover="changeUl(0)">媒体报道</span>
            <a href="'#!/'+ @more_name">{{@more_text}}</a>
            <ul>
                <li ms-for="v in @infoList">
                    <a ms-attr="{href: '#!/'+ @more_name + '/' + @v.id, title: @v.id}" title="@v.title">{{@v.title}}</a>
                </li>
            </ul>
        </div>
    </body>
</html>
